---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&format=json&hashkey=e7aaff35bc1405e7d50e79cb3fd50a4a015263e0&locale=de&os_version=6.0&page=1&pub0=Test%20Campaign&timestamp=1405695485&uid=Snarf%20Me
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - adb37a4ee285e79375128fb4fd57478edf58efe1
      X-Sponsorpay-Response-Code:
      - OK
      Etag:
      - '"e35b554534c2fa81e3ccb7e74fc8f07e"'
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":2,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"IN","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=Snarf+Me"},"offers":[]}'
  recorded_at: Fri, 18 Jul 2014 15:02:47 GMT
recorded_with: VCR 2.8.0
