---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&format=json&hashkey=e7aaff35bc1405e7d50e79cb3fd50a4a015263e0&locale=de&os_version=6.0&page=1&pub0=Test%20Campaign&timestamp=1405695485&uid=Snarf%20Me
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 8d88798252dacece39d34d025805e62c6ac2a198
      X-Sponsorpay-Response-Code:
      - OK
      Etag:
      - '"24c92f9d2355b9e1eee61ed3f3184270"'
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":2,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"IN","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=Snarf+Me"},"offers":[{"title":"Candy
        Slide","offer_id":287747,"teaser":"Lade die App herunter und ERSTELLE einen
        Account","required_actions":"Lade die App herunter und ERSTELLE einen Account","link":"http://api.sponsorpay.com/5ba289aa8a18497b08e0ae0f74bad8a9/22c5f977d2eef9bf/mobile/IN/157/offers/287747","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":106,"readable":"Spiele"},{"offer_type_id":109,"readable":"Spiele"},{"offer_type_id":112,"readable":"Gratis"}],"payout":482,"time_to_payout":{"amount":600,"readable":"10
        Minuten"},"thumbnail":{"lowres":"http://cdn3.sponsorpay.com/app_icons/20465/small_mobile_icon.png","hires":"http://cdn3.sponsorpay.com/app_icons/20465/big_mobile_icon.png"},"store_id":""},{"title":"Nose
        Doctor X: Booger Mania","offer_id":293609,"teaser":"Herunterladen und STARTEN","required_actions":"Herunterladen
        und STARTEN","link":"http://api.sponsorpay.com/5ba289aa8a18497b08e0ae0f74bad8a9/ad93529aff080146/mobile/IN/157/offers/293609","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":106,"readable":"Spiele"},{"offer_type_id":109,"readable":"Spiele"},{"offer_type_id":112,"readable":"Gratis"}],"payout":33222,"time_to_payout":{"amount[...]
