---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&format=json&hashkey=11fac5f63c44c01d499f02c9713f2ae61415f18a&ip=109.235.143.113&locale=de&offer_types=112&os_version=6.0&page=1&timestamp=1405683773&uid=snarfinator
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - eed847a9a2cceecec0afca2786262ca690ca0390
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - '"b408c0c376aa8daf6141461277e153be"'
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=snarfinator"},"offers":[{"title":"Snarf","payout":"whats that","time_to_payout":{"amount":1800,"readable":"30 Minuten"},"thumbnail":"url_to_thumbnail"}]}'
  recorded_at: Fri, 18 Jul 2014 14:33:16 GMT
recorded_with: VCR 2.8.0
